.navigation{
    background-color: rgba(255, 72, 17, 0.484);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}
.img-nav{
    width: 200px;
    margin-left: 50px;
}
img{
    width: 300px;
    margin-left: 50px;
}
a{
    text-decoration: none;
    color: rgb(251, 251, 251);
    font-weight: bolder;
    font-size: larger;
    margin-right: 40px;
}


/* Responsive */

@media only screen and (max-width: 576px)  {
    .navigation{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}