.navigation{
    /* position: absolute; */
    width: 100%;
    overflow: hidden;
    z-index: 999;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0px; */
}
.nav-right{
    display: flex;
    align-items: center;
    
}
.img-nav{
    width: 200px;
    margin-left: 50px;
}
img{
    width: 300px;
    margin-left: 50px;
}
a{
    text-decoration: none;
    color: rgb(251, 251, 251);
    font-weight: bolder;
    font-size: 15px;
    margin-right: 40px;
    cursor: pointer;
}
.logout-text{
    text-decoration: none;
    color: rgb(251, 251, 251);
    font-weight: bolder;
    font-size: 15px;
    margin-right: 40px;
    cursor: pointer;
    background-color: #09a0e6;
    padding: 7px 15px;
    border-radius: 6px;
    /* box-shadow: 3px 5px rgba(194, 231, 222, 0.989); */
}
.logout-text:hover{
    background-color: #330867;
    border-radius: 6px;
    color: white;
    transition: all;
}


/* Responsive */

@media only screen and (max-width: 576px)  {
    .navigation{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}