.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border-top: 1px solid rgb(225, 224, 232); */
    /* box-shadow: 2px 2px 20px 7px rgba(9, 120, 189, 0.989); */
}
.f-h1{
    color: rgb(50, 201, 201);
}

@media only screen and (max-width: 576px) {
    .footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}