.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
    padding-bottom: 150px;
    
}

.img-b{
    margin-top: 130px; 
}

.b-h1{
    font-size: calc(40px);
    color:aliceblue;
    margin-top: 200px;
}


.short-temp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: -35px;
    padding-right: 50px;
    border-radius: 10px;
}

/* @media only screen and (max-width:688px){
    .banner-section{
        grid-template-columns: repeat(1, 1fr);
    }
 }

 
@media only screen and (max-width:689px) and (max-width: 991px){
    .banner-section{
        grid-template-columns: repeat(2, 1fr);
    }
 } */