.banner{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    padding-bottom: 150px;
    
}

.img-b{
    width: 250px;
    border-radius: 20px;
    margin-top: 30px;
    
}

.b-h1{
    color:aliceblue;
    margin-top: 50px;
}


.short-temp{
    display: flex;
    justify-content: space-evenly;
    margin-top: -35px;
    padding-right: 50px;
    border-radius: 10px;
}